* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
body main {
    margin-bottom: auto;
}
header, footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

footer{
    flex: 0 0 auto;
}

nav {
    background-color: #333;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.div_about {
    border-radius: 10px;
    background: #f1f1f1;
    width: 1000px;
    margin: 10px auto;
    position: relative;
    overflow:hidden;

}

.div_about:hover{
    box-shadow: 0 0 5px white;
}

.about {
    font-family: Arial, sans-serif;
    font-size: large;
    padding: 10px;
}

.div_pub_choose{
    border-radius: 10px;
    background: #f1f1f1;
    width: 1000px;
    margin: 10px auto;
    position: relative;
    overflow:hidden;
    transition: transform 1s 50ms;
}

.div_pub_choose:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px white;
}

.pub{
    font-family: Arial, sans-serif;
    font-size: large;
    padding: 10px;
}

.div_pub{
    background-color: #f8f9fa; /* Светло-серый цвет фона для контраста */
    border: 1px solid #dee2e6; /* Серая рамка */
    border-radius: 5px; /* Скругление углов рамки */
    padding: 20px; /* Отступы внутри блока */
    margin-bottom: 20px; /* Отступ снизу для разделения статей */
    font-family: Arial, sans-serif; /* Шрифт */
    color: #212529; /* Цвет текста */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для добавления глубины */
}
